<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.rental_bot" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/MainMenuTheme" >
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RoomDetail"
            android:label="@string/title_activity_room_detail"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.rental_bot.MainActivity" />
        </activity>
        <activity
            android:name=".PostMyRoom"
            android:label="@string/title_activity_post_my_room"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.rental_bot.MainActivity" />
        </activity>
        <activity
            android:name=".ShareQR"
            android:label="@string/title_activity_share_qr"
            android:parentActivityName=".RoomDetail"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.rental_bot.RoomDetail" />
        </activity>
        <activity
            android:name=".InviteFriends"
            android:label="@string/title_activity_invite_friends"
            android:parentActivityName=".RoomDetail"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.rental_bot.RoomDetail" />
        </activity>
        <activity
            android:name=".Notification"
            android:label="@string/title_activity_notification"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.rental_bot.MainActivity" />
        </activity>
    </application>

</manifest>
